@font-face {
  font-family: "Open Sans";
  src: url('../fonts/OpenSans-Regular.ttf');
}


@font-face {
  font-family: "Salsa Regular";
  src: url('../fonts/Salsa-Regular.ttf');
}

root { 
    display: block;
}

body {
    text-align: center;
    margin: 0;
}

.spotlight {
    border: 1px dashed red !important;
}

.container input {
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    font-size: 13px;
    height: 18px;
    line-height: 18px;
    padding: 4px;
    margin: 0 auto;
    margin-bottom: 5px;
    width: 400px;
    font: 200 14px/28px Arial, sans-serif;
}

.button {
    background-color: #888888;
    background-image: -moz-linear-gradient(#44A5E1, #267CC2);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), 0 -2px 0 0 rgba(0, 0, 0, 0.1) inset;
    color: #FFFFFF;
    display: inline-block;
    font: 600 14px/28px "Open Sans","Helvetica Neue",Arial,sans-serif;
    padding: 0 15px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.button img {
    vertical-align: text-top;
}

#header {
    margin-bottom: 10px;
    padding: 4px;
    text-align: right;
    font-family: "Open Sans","Helvetica Neue",Arial,sans-serif;
    font-size: 1.5em;
    color: #CCCCCC;
    background-color: #2C2C2C;
    background-image: -moz-linear-gradient(center top , #333333, #222222);
    background-repeat: repeat-x;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
    padding-left: 20px;
    padding-right: 20px;
}

#footer {
    color: #999999;
    font-size: 0.9em;
    margin: 1em auto;
    text-align: center;
    font: 100 0.8em/1.5em "Open Sans","Helvetica Neue",Arial,sans-serif;
}

.heart {
    color: #B91E27;
}

.keyboardShortcutTip {
    border: 1px solid #EAE9E8;
    border-radius: 3px;
    padding: 1px;
}

.keyboardShortcutTip img {
    width: 16px;
    height: 16px;
    vertical-align: text-top;
}

.listName:hover {
    color: #2D85C9;
}

.footerLink {
    color: #292929;
    text-decoration: none;
}

.footerLink:hover {
    color: #666666;
}

.appIcon {
    vertical-align: text-top;
    float: left;
}

.todoStatus {
    display: inline-block;
    height: 27px !important;
    width: 27px !important;
    border: 0 none !important;
    background-color: transparent;
    opacity: 0.1 !important;
    background-image: url('../images/done.png');
    background-size:27px;
    cursor: pointer;
}

.todoCompleted {
    height: 27px !important;
    width: 27px !important;
    background-color: transparent;
    background-image: url('../images/done.png');
    background-size:27px;
    border: 0 none !important;
    opacity: 1 !important;
    cursor: pointer;
}

.todoStatus::-moz-focus-inner, .todoCompleted::-moz-focus-inner {
  border: 0;
}

.todoCellDiv {
    
}